@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

hr {
  max-width: 45px;
  border: 0;
  border-top: 2px solid;
  border-color: #ff4b94;
  margin: 1rem auto;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}
