<form
  name="contact"
  method="POST"
  action="/success"
  data-netlify="true"
  class="text-black dark:text-white"
>
  <input
    required
    class="mb-3 p-2 bg-white dark:bg-[#333]"
    type="text"
    name="name"
    placeholder="Name"
  />
  <div class="mb-3">
    <input
      required
      class="p-2 bg-white dark:bg-[#333]"
      name="email"
      type="email"
      placeholder="Email"
    />
  </div>
  <textarea
    required
    class="mb-3 p-2 bg-white dark:bg-[#333]"
    name="body"
    placeholder="Please include any relevant details"
    rows={8}></textarea>
  <button
    class="rounded-xl bg-pink-600 px-10 py-2 h-10 tracking-wider text-sm uppercase text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600"
    type="submit"
  >
    Hit me up
  </button>
</form>
