<form
  name="contact"
  method="POST"
  action="/success"
  data-netlify="true"
  class="text-black dark:text-white"
>
  <input
    required
    class="mb-3 p-2 bg-white dark:bg-[#333]"
    type="text"
    name="name"
    placeholder="Name"
  />
  <div class="mb-3">
    <input
      required
      class="p-2 bg-white dark:bg-[#333]"
      name="email"
      type="email"
      placeholder="Email"
    />
  </div>
  <textarea
    required
    class="mb-3 p-2 bg-white dark:bg-[#333]"
    name="body"
    placeholder="Please include any relevant details"
    rows={8}></textarea>
  <button
    class="bg-pink-400 rounded-xl uppercase text-white py-2 px-10 text-sm tracking-wider h-10 w-full sm:w-auto"
    type="submit"
  >
    Hit me up
  </button>
</form>
